@using Chess.Rules
@using Chess.Rules.Sabitler;
@using Chess.Rules.Taslar;
@model Web.UI.Models.TahtaModel;
@{
    ViewBag.Title = "StrancTahtası";
}

@{
    int x = 0;
    int y = 0;
    string pixel = "{0}px";

    for (int i = 1; i < 9; i++)
    {
        <div class="container">
            @for (int j = 1; j < 9; j++)
            {
                var koordinat = $"{i}{j}";
                Kare kare = Model.Kareler.Where(k => k.Koordinat.X == j && k.Koordinat.Y == i).FirstOrDefault();
             
                if (j % 2 == 0)
                {
                    if (i % 2 == 0)
                    {                   
                        if(kare.Tas != null)
                        {
                            <img src="@kare.Tas.Resim" onclick="onClick(@j,@i,'true', '@Model.Id')" style="border:solid;background-color:white;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />

                        }
                        else
                        {
                            <img alt="" onclick="onClick(@j,@i,'false', '@Model.Id')" style="border:solid;background-color:white;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />
                        }

                    }
                    else
                    {
                        if (kare.Tas != null)
                        {
                            <img src="@kare.Tas.Resim" onclick="onClick(@j,@i,'true', '@Model.Id')" style="border:solid;background-color:black;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />

                        }
                        else
                        {
                            <img alt="" onclick="onClick(@j,@i,'false', '@Model.Id')" style="border:solid;background-color:black;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />
                        }

                    }
                }
                else
                {
                    if (i % 2 == 0)
                    {
                        if (kare.Tas != null)
                        {
                            <img src="@kare.Tas.Resim" onclick="onClick(@j,@i,'true', '@Model.Id')" style="border:solid;background-color:black;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />

                        }
                        else
                        {
                            <img alt="" onclick="onClick(@j,@i,'false', '@Model.Id')" style="border:solid;background-color:black;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />
                        }
                    }
                    else
                    {
                        if (kare.Tas != null)
                        {
                            <img src="@kare.Tas.Resim" onclick="onClick(@j,@i,'true', '@Model.Id')" style="border:solid;background-color:white;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />

                        }
                        else
                        {
                            <img alt="" onclick="onClick(@j,@i,'false', '@Model.Id')" style="border:solid;background-color:white;left:@String.Format(pixel ,x);top:@String.Format(pixel ,y)" value=@koordinat />
                        }

                    }
                }

                x += 100;
            }
        </div>
        y += 100;
        x = 0;
    }
}


